body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; /* Fondo claro */
}

.demo-logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
